* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,header,footer,aside,main,nav,section {
    font-family: "Open Sans", sans-serif;
}

:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --header-bg-color: rgba(26, 188, 156, 0.8);
    --bg-gray-light: #dadada;
}
header {
    min-height: 100vh;
    background-image: url("../images/banner-image.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--header-bg-color);
    z-index: 0;
}

header section {
    position: relative;
    z-index: 1;
}

.header-content *{
    color: var(--white-color) ;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    margin: 0;
}

.header-line {
    padding: 1px 0;
    margin: 0 auto;
    margin-top: -2px;
    background-position: center;
    width: 40%;
    border-bottom: 2px solid var(--white-color);
    border-top: 2px solid var(--white-color);
}

.link-icon {
    color: red;
    font-size: 35px;
    margin-right: 1rem;
    transition: all 0.3s ease-in-out;
}