* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,header,footer,aside,main,nav,section {
    font-family: "Open Sans", sans-serif;
}

:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --header-bg-color: rgba(26, 188, 156, 0.8);
    --bg-gray-light: #dadada;
}